<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travels</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <div class="container">
      <nav>
        <h1>IND TRAVELS</h1>
        <ul>
          <li><a href="" class="active">home</a></li>
          <li><a href="">about</a></li>
          <li><a href="">service</a></li>
          <li><a href="">project</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </nav>
      <div class="article">
        <h1>ALL OVER THE INDIA PACKAGES AVAILABLE</h1>
        <p>Escape the winter blues and bask in india's sunlit wonders. Discover enchanting desert landscapes, tranquil oases, and majestic mountains under the warm indian sun. Your unforgettable winter adventure awaits!</p>
        <a href="" class="btn">download Now</a>
      </div>
    </div>
  </section>
</body>
</html>